body{
    margin:0;
    padding:0;
}

.carousel-h5{
    color: black;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: white;
}

pre{
    background-color:rgb(182, 24, 24);
}