.carousel-h5{
    color: black;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: white;
}

#footer{
    border-radius: 0;
    border-left: none;
    border-right: none;
}